@import '../App.scss';

canvas {
  position: fixed;
}

#downarrow {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #downarrow {
    margin-top: 4rem;
  }
}
